
<!--用户详情查看——我收到的评论-->

<table class="table table-condensed table-style min_750 mt_20">
    <thead>
    <tr>
        <th>作者</th>
        <th>作品类型</th>
        <th>作品</th>
        <th>作品描述</th>
        <th>评论人</th>
        <th>评论</th>
        <th>评论时间</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="ucr in Lists">
        <td ng-bind="ucr.userName"></td>
        <td ng-bind="ucr.type"></td>
        <td>
            <img class="icon_works" ng-src="{{ucr.worksUrl}}" alt="作品"/>
        </td>
        <td ng-bind="ucr.disc"></td>
        <td ng-bind="ucr.commentMan"></td>
        <td ng-bind="ucr.comment"></td>
        <td ng-bind="ucr.pTime |dateFormat:''"></td>
        <td class="detail_td">
            <a ui-sref="userManager.uDt.wks" ng-click="getUcrDetail(ucr)">查看</a>
        </td>
    </tr>
    </tbody>
</table>
<div ng-include="'nav/nav.html'"></div>