/*-----头-----*/
.head{
    position: fixed;
    top: 0;
    width: 100%;
    height: 45px;
    background: #ffffff;
    padding: 20px;
    vertical-align: middle;
    z-index: 999;
}
.logo-icon{
    width:40px;
    height: 36px;
}
.head-title{
    font-size: 18px;
    font-weight: bold;
    line-height: 40px;
}
.head-right{
    position: absolute;
    right: 0;
    top: 0;
    line-height: 45px;
}
.loging-out{
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}
/*---------内容---------*/
.content{
    width: 100%;
    height: 100%;
}
.content-left{
    width:190px;
    position: fixed;
    top: 0;
    left: 0;
    bottom:0;
    box-sizing: border-box;
    background: #444444;
    z-index: 998;
}
.menu-logo{
    width: 100%;
    height: 100px;
    background: #333333;
    text-align: center;
}
.menu-logo p{
    font-size: 16px;
    font-weight: 500;
    color: #b0b0b0;
}
.menu-list{
    width: 100%;
    font-size: 16px;
}
.menu-list span{
    line-height: 60px;
}
.menu-list li{
    width: 100%;
    height: 60px;
    line-height: 60px;
    padding: 0 0 0 20px;
    position: relative;
    color: #b0b0b0;
}
.menu-list li.inner{
    text-align: center;
    font-size: 14px;
    padding: 0;
}
.menu-list li.active{
    background: #f4b50f;
    color: #000000;
}

.item-content{
    width: 100%;
    height: 60px;
}
.content-right{
    position: absolute;
    top: 0;
    left: 190px;
    right: 0;
    bottom: 0;
    box-sizing: border-box;
    background: #efeff4;
}
/*--------底部----------*/
.footer{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 45px;
    background: #F8F8F8;
    z-index: 999;
}
.footer p{
    text-align: center;
    font-size: 14px;
    line-height: 45px;
}
/*--------面包屑公用-------*/
.breadcrumbs{
    height: 45px;
    background: #ffffff;
}
.breadcrumbs a{
    font-size: 16px;
    line-height: 45px;
}
/*-------菜单小图标-------*/
.u_icon,.c_icon,.s_icon,.w_icon{
    width: 20px;
    height: 60px;
    line-height: 60px;
}
.u_icon{
    background-image: url("../images/u_icon_gray.png");
    background-repeat: no-repeat;
    background-position: center;
}
.u_icon.active{
    background-image: url("../images/u_icon_black.png")
}
.c_icon{
    background-image: url("../images/c_icon_gray.png");
    background-repeat: no-repeat;
    background-position: center;
}
.c_icon.active{
    background-image: url("../images/c_icon_black.png");
}
.s_icon{
    background-image: url("../images/s_icon_gray.png");
    background-repeat: no-repeat;
    background-position: center;
}
.s_icon.active{
    background-image: url("../images/s_icon_black.png");
}
.w_icon{
    background-image: url("../images/w_icon_gray.png");
    background-repeat: no-repeat;
    background-position: center;
}
.w_icon.active{
    background-image: url("../images/w_icon_black.png");
}
/*----选择框下拉图标设置-----*/
.select-w{
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    background-image: url("../images/arrow_down.png");
    background-repeat: no-repeat;
    background-position: 95%;
}
/*-----详情按钮------*/
.detail_td{
    color: #2d5cef;
    cursor: pointer;
}
.detail_td a:hover{
    color: #f4b50f;
}
/*-----表格内作品图片------*/
.icon_works{
    width: 40px;
    height: 20px;
}
/*----layUi重设样式---*/
.my-layer-class.layui-layer-dialog{
    border-radius: 10px;
}
.my-layer-class.layui-layer-dialog .layui-layer-content{
    text-align: center;
    padding: 30px 20px;
}
.title_span{
    border-left: 5px solid #f4b50f;
    padding-left: 10px;
}
.img_box{
    min-height: 500px;
    line-height: 500px;
    font-size: 0;
    text-align: center;
}
.img_box img{
    vertical-align: middle;
}
/*--------作品列表----------*/
.workList{
    max-width: 100%;
    min-width: 50%;
}
.workList>ul{
    border: 1px solid #cccccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #ffffff;
}
.workList .userIcon{
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}
.workList .listIcon{
    width: 40px;
    height: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
}
.workList .userName{
    font-weight: bold;
    font-size: 16px;
}
.workList .listContent{
    font-size: 15px;
}
.workList .time{
    font-size: 12px;
}
.workIcon{
    max-width: 100%;
    min-width: 420px;
}
/*--------版本信息--------*/
.left_title{
    display: inline-block;
    width: 100px;
    text-align: right;
}
/*---评论、点赞、分享列表----*/
.inner_ul{
    width: 100%;
}
.inner_ul>li{
    width: 100%;
    height: 80px;
    border-top: 1px solid #cccccc;
}
.inner_ul input[type=checkbox]{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    color: red;
}
/*--------checkbox--------*/
.checkboxFive {
    width: 15px;
    margin: 30px 10px 20px 0;
    position: relative;
}
.checkboxFive label {
    cursor: pointer;
    position: absolute;
    width: 15px;
    height: 15px;
    top: 0;
    left: 0;
    background: #eee;
    border:1px solid #ddd;
}
.checkboxFive label:after {
    opacity: 0;
    content: '';
    position: absolute;
    width: 10px;
    height: 5px;
    background: transparent;
    top: 3px;
    left: 1px;
    border: 3px solid #f9bf02;
    border-top: none;
    border-right: none;

    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.checkboxFive input[type=checkbox]:checked + label:after {
    opacity: 1;
}