/*-- css hack --*/
*{
    margin: 0;
    padding: 0;
}
body, ul, li, h1, h2, h3, h4, h5, h6, p, form, dl, dt, dd {
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
img {
    border-style: none;
}
html{
    font-size: 100px;
}
ul,li{
    list-style: none;
}
html,body{
    width: 100%;
    height: 100%;
}


#body {
    height: 100%;
    overflow: auto;
    background: #262626;
}

#title_all {
    height: .56rem;
    background-color: #f3f5fa;
    line-height: .56rem;
}

#title_all_left {
    width: 20%;
    background-color: #f3f5fa;
    float: left;
    margin: 0 auto;
}

#title_all_left_inner {
    height: 100%;
    background-color: #f3f5fa;
    float: left;
    margin: 0 auto;
    vertical-align: middle;
}

#title_all_title {
    height: 100%;
    width: 60%;
    background-color: #f3f5fa;
    float: left;
    text-align: center;
    margin: 0 auto;
}

#title_all_right {
    height: 100%;
    width: 20%;
    background-color: #f3f5fa;
    float: left;
    text-align: right;
    margin: 0 auto;

}

#title_img_back {
    height: .25rem;
    width: .15rem;
    text-align: center;
    margin-bottom: -.05rem;
    margin-left: .12rem;
}

#title_font_back {
    font-size: .16rem;
    color: #666666;
    text-align: center;
}

#font_title {
    font-size: .18rem;
    color: #000000;
    text-align: center;
}

#middle_space {
    width: 100%;
    height: 90%;
}

#middle_space_user {
    height: 1.26rem;
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
    line-height: 1.26rem;
    margin-bottom: -1.26rem;
    z-index: 9;
    position: absolute;
}

#middle_space_user_head {
    width: 20%;
    float: left;
    margin: 0 auto;
}

#middle_space_user_name {
    width: 60%;
    height: 100%;
    float: left;
    text-align: center;
    margin: 0 auto;
}

#middle_space_user_other {
    width: 20%;
    float: right;
    margin: 0 auto;
}

#img_user_head {
    width: .72rem;
    height: .72rem;
    border-radius: .35rem;
    margin-left: .12rem;
    margin-top: .25rem;
}
.switch-img{
    width: .86rem;
    height: .86rem;
    vertical-align: top;
    border-radius: .43rem;
}
#font_user_name {
    font-size: .38rem;
    color: #ffffff;
    text-align: center;
    vertical-align: top;
    font-weight: bold;
}

#middle_space_work {
    overflow: hidden;
    width: 100%;
    height: 100%;
    z-index: 8;
    position: relative;
    left: 0px;
    top: auto;
}

#switch_div {
    overflow: hidden;
    width: 1.00rem;
    height: 1.00rem;
    z-index: 9;
    position: absolute;
    left: 5%;
    top: 45%;
}

#work_content_div {
    overflow: hidden;
    width: 100%;
    height: auto;
    z-index: 9;
    position: relative;
    left: 0;
    top: .2rem;
    background: transparent;
    word-wrap: break-word;
}

#work_content_span {
    overflow: hidden;
    width: 100%;
    height: .7rem;
    position: relative;
    left: 0;
    background: transparent;
    color: white;
    font-size: .28rem;
}

#work_content_img {
    float: right;
    width: .3rem;
    height: .17rem;
    margin-top: 3px;
    margin-right: .20rem;
}

#work_other_info_div {
    overflow: hidden;
    width: 100%;
    height: .52rem;
    z-index: 9;
    position: relative;
    left: .12rem;
    top: .3rem;
    background: transparent;
}

#work_other_date_play_num_info_div {
    display: inline-block;
    float: left;
    margin-left: .32rem;
}

#work_other_prise_comment_info_div {
    display: inline-block;
    float: right;
    margin-right: .20rem;
}

#priseNum_div {
    display: inline-block;
    right: 1.96rem;
    background: url(../img/bg.png)no-repeat 100% 100%;
    background-size: 100%;
    width: 1.20rem;
    height: .48rem;
    position: absolute;
}

#commentNum_div {
    display: inline-block;
    margin-right: .22rem;
    background: url('../img/bg.png')no-repeat 100% 100%;
    background-size: 100%;
    width: 1.20rem;
    height: .48rem;
}

#middle_space_work_inner_table {

    width: 100%;
    height: 100%;
    border: 0;
}

#main_img_work {
    /*width: 1024px;*/
    height: 100%;
}

#howLong {
    display: inline-block;
    font-size: .38rem;
    color: #ffffff;
    text-align: center;
}

#playNum {
    display: inline-block;
    font-size: .38rem;
    color: #ffffff;
    text-align: center;
}

#priseNum {
    display: inline-block;
    font-size: .38rem;
    color: #ffffff;
    text-align: center;
    margin-left: .08rem;
    margin-top: .02rem;
    position: absolute;
}

#commentNum {
    display: inline-block;
    font-size: .38rem;
    color: #ffffff;
    text-align: center;
    margin-left: .08rem;
    margin-top: .02rem;
    position: absolute;
}

#bottom_div {
    position: relative;
    bottom: 0px;
    background-color: black;
    padding: .12rem;
    text-align: center;
    height: .80rem;
    width: 100%;
    line-height: .4rem;
}
.bottom_div_span{
    color: white;
    font-size: .38rem;
}
#bottom_logo {
    display: none;
    float: left;
}

#bottom_logo_img {
    width: .90rem;
    height: .90rem;
    margin-right: 5px;
    display: inline-block;
    margin-left: 22px;
}

#bottom_app_and_device {
    display: none !important;
    float: right;
    margin: 0px;
    height: .90rem;
}

#bottom_app {
    display: none;
    background-color: #f0d800;
    border-radius: 5px;
    height: 1.02rem;
    padding: 0 .15rem;
}

#bottom_app_text1 {
    display: inline-block;
    color: black;
    font-size: .38rem;
}

#bottom_app_text2 {
    display: inline-block;
    color: black;
    font-size: .44rem;
}

#bottom_device {
    display: none;
    margin-right: .20rem;
    margin-left: .15rem;
    background-color: #f0d800;
    border-radius: 5px;
    height: .80rem;
    width: 2.18rem;
    PADDING-TOP: .22rem;
}

#bottom_device_img {
    width: .38rem;
    height: .46rem;
    position: relative;
    left: .09rem;
}

#bottom_device_text1 {
    display: inline-block;
    color: black;
    font-size: .38rem;
    position: absolute;
    width: 2.19rem;
    top: -.22rem;
}

#bottom_device_text2 {
    display: inline-block;
    color: black;
    font-size: .44rem;
    position: absolute;
    width: 2.04rem;
    top: .15rem;
}