
<!--投稿中的作品-->
<div class="w p_20 mb_50">
    <!--列表-->
    <div class="workList">
        <ul class="w p_20">
            <li class="w">
                <ul class="w ofh">
                    <li>
                        <img class="userIcon fl mr_10" src="../media/images/userHead.jpg" alt="头像"/>
                        <div class="pt_8 fl">
                            <span class="userName">张苏纳</span>
                            <br/>
                            <span class="time">2017-05-18 21:30:15</span>
                        </div>
                    </li>
                    <li class="fr">
                        <button ng-click="delete()"
                                class="btn-danger btn-set">删除</button>
                        <button ng-click="disabled()"
                                class="btn-gold btn-set ml_30">禁用</button>
                    </li>
                </ul>
            </li>
            <li class="w">
                <img class="workIcon mt_20"
                     img-lazy-load
                     realSrc="../media/images/longImg.jpeg"
                     src="../media/images/default.png" alt="作品"/>
            </li>
        </ul>
    </div>
</div>