
<!--投稿中的作品-->
<div class="w p_20 mb_50 ofa">
    <!--列表-->
    <div class="workList mb_20 fl">
        <ul class="w p_20">
            <li class="w">
                <ul class="w ofh">
                    <li>
                        <img class="userIcon fl mr_10" src="../media/images/userHead.jpg" alt="头像"/>
                        <div class="pt_8 fl">
                            <span class="userName">张苏纳</span>
                            <br/>
                            <span class="time">2017-05-18 21:30:15</span>
                        </div>
                    </li>
                    <li class="fr">
                        <button ng-click="delete()"
                                class="btn-danger btn-set">删除</button>
                        <button ng-click="disabled()"
                                class="btn-gold btn-set ml_30">禁用</button>
                    </li>
                </ul>
            </li>
            <li>
                <img class="workIcon mt_20"
                     img-lazy-load
                     realSrc="http://www.paipai360.cn/share/img/148860954254540257794758518088.jpeg"
                     src="../media/images/loading.gif" alt="作品"/>
            </li>
            <li>
                <span>美丽的城市，烟雾缭绕，真是美极了！</span>
            </li>
            <li class="mt_5">
                <img class="mr_5" src="../media/images/comment_icon_black.png" alt="评论"/>
                <span class="mr_20">666</span>
                <img class="mr_5" src="../media/images/parise_icon_black.png" alt="点赞"/>
                <span class="mr_20">888</span>
                <img class="mr_5" src="../media/images/fenxiang_icon_black.png" alt="分享"/>
                <span class="mr_20">999</span>
            </li>
        </ul>
    </div>
    <div class="workList mb_20 fl">
        <ul class="w p_20">
            <li class="w">
                <ul class="w ofh">
                    <li>
                        <img class="userIcon fl mr_10" src="../media/images/userHead.jpg" alt="头像"/>
                        <div class="pt_8 fl">
                            <span class="userName">张苏纳</span>
                            <br/>
                            <span class="time">2017-05-18 21:30:15</span>
                        </div>
                    </li>
                    <li class="fr">
                        <button ng-click="delete()"
                                class="btn-danger btn-set">删除</button>
                        <button ng-click="disabled()"
                                class="btn-gold btn-set ml_30">禁用</button>
                    </li>
                </ul>
            </li>
            <li>
                <img class="workIcon mt_20"
                     img-lazy-load
                     realSrc="http://f12.baidu.com/it/u=2040953427,2540893113&fm=72"
                     src="../media/images/loading.gif" alt="作品"/>
            </li>
            <li>
                <span>美丽的城市，烟雾缭绕，真是美极了！</span>
            </li>
            <li class="mt_5">
                <img class="mr_5" src="../media/images/comment_icon_black.png" alt="评论"/>
                <span class="mr_20">666</span>
                <img class="mr_5" src="../media/images/parise_icon_black.png" alt="点赞"/>
                <span class="mr_20">888</span>
                <img class="mr_5" src="../media/images/fenxiang_icon_black.png" alt="分享"/>
                <span class="mr_20">999</span>
            </li>
        </ul>
    </div>
    <div class="workList mb_20 fl">
        <ul class="w p_20">
            <li class="w">
                <ul class="w ofh">
                    <li>
                        <img class="userIcon fl mr_10" src="../media/images/userHead.jpg" alt="头像"/>
                        <div class="pt_8 fl">
                            <span class="userName">张苏纳</span>
                            <br/>
                            <span class="time">2017-05-18 21:30:15</span>
                        </div>
                    </li>
                    <li class="fr">
                        <button ng-click="delete()"
                                class="btn-danger btn-set">删除</button>
                        <button ng-click="disabled()"
                                class="btn-gold btn-set ml_30">禁用</button>
                    </li>
                </ul>
            </li>
            <li>
                <img class="workIcon mt_20"
                     img-lazy-load
                     realSrc="../media/images/long1.jpg"
                     src="../media/images/loading.gif" alt="作品"/>
            </li>
            <li>
                <span>美丽的城市，烟雾缭绕，真是美极了！</span>
            </li>
            <li class="mt_5">
                <img class="mr_5" src="../media/images/comment_icon_black.png" alt="评论"/>
                <span class="mr_20">666</span>
                <img class="mr_5" src="../media/images/parise_icon_black.png" alt="点赞"/>
                <span class="mr_20">888</span>
                <img class="mr_5" src="../media/images/fenxiang_icon_black.png" alt="分享"/>
                <span class="mr_20">999</span>
            </li>
        </ul>
    </div>
</div>