
<!--投稿中的作品-->
<div class="w p_20 mb_50 ofa">
    <!--列表-->
    <div ng-repeat="work in Lists" class="workList mb_20 fl">
        <ul class="w p_20 clearfix">
            <li class="w">
                <ul class="w ofh">
                    <li>
                        <img class="userIcon fl mr_10" ng-src={{work.headUrl}} alt="头像"/>
                        <div class="pt_8 fl">
                            <span ng-bind="work.userName" class="userName"></span>
                            <br/>
                            <span ng-bind="work.pTime|dateFormat:''" class="time"></span>
                        </div>
                    </li>
                    <li class="fr">
                        <button ng-click="noPassDate(work)"
                                class="btn-danger btn-set">不通过</button>
                        <button ng-click="passDate(work)"
                                class="btn-green btn-set ml_30">通过</button>
                    </li>
                </ul>
            </li>
            <li>
                <img class="workIcon mt_20"
                     img-lazy-load
                     src="../media/images/loading.gif"
                     alt="作品"/>
            </li>
            <li>
                <span ng-bind="work.disc"></span>
            </li>
            <li class="mt_20">
                <div load-common-ul></div>
            </li>
        </ul>
    </div>
    <div class="w">
        <div ng-include="'nav/nav.html'"></div>
    </div>
</div>
