@charset "utf-8";
/*公共样式*/
body, div, p, a, ul, li, ol, dl, dt, dd, form, h1, h2, h3, h4, h5, h6, input, fieldset, legend, optgroup, select, table, textarea {margin: 0;padding: 0;list-style: none;font-family:'Microsoft YaHei', '宋体',sans-serif;}
html{width: 100%;height: auto;}
body {height: 100%;font: 14px/20px "Microsoft YaHei";background: #FAFAFA;}
img {border: none 0;}
a {text-decoration: none;}
a:hover {text-decoration: underline;}
a:link{text-decoration: none;}
a:visited{text-decoration: none;}
input, textarea {outline: none;}
textarea {resize: none;}
.fl{float: left;}
.fr{float: right;}
.diplay-no{display: none;}
/*--------日历外壳设置--------*/
.divDataMapDetails {width: 500px;height: 500px;margin: 50px auto;background-color: #fafafa;border: 1px solid #c1c1c1;}
/*--------日历table设置--------*/
.calendar-table{width: 100%;height: 400px;margin-top: 10px;}
.current-time{font-size: 20px;line-height: 50px;height: 50px;background: #efefef;color: #000;text-align: center;padding: 0 22px;}
.prv-month{display: block;width: 0;height: 0;border-top: 25px solid transparent;border-right: 50px solid #e2534b;border-bottom: 25px solid transparent;}
.next-month{display: block;width: 0;height: 0;border-top: 25px solid transparent;border-left: 50px solid #e2534b;border-bottom: 25px solid transparent;}
#calendar-body table tbody tr td{padding: 0;height:22px;vertical-align: middle;text-align: center;font-size: 20px;border:1px solid #e0e0e0;border-collapse:collapse;cursor:pointer;position: relative;}
#calendar-body table tbody tr .day-current{background:#e2534b no-repeat center!important;cursor: pointer;color: #fff;}
#calendar-body table tbody tr td strong font{font-size: 14px;font-weight: 400;}
/*------日历下拉选择样式--------*/
.calendar-head{width: 100%;height: 50px;position: relative;}
.selectYear{width: 70px;max-height: 241px;position: absolute;top: 50px;left: 143px;z-index: 9999;background: #ffffff;border: 1px solid #e2534b;border-top: none;overflow: auto;}
.selectYear ul li{height: 40px;border-bottom: 1px solid #e2534b;line-height: 40px;cursor: pointer;box-sizing: border-box;text-align: center;}
.selectMon{width: 70px;max-height: 241px;position: absolute;top: 50px;right: 143px;z-index: 9999;background: #ffffff;border: 1px solid #e2534b;border-top: none;text-align: center;overflow: auto;}
.selectMon ul li{height: 40px;border-bottom: 1px solid #e2534b;line-height: 40px;cursor: pointer;box-sizing: border-box;}
.selectYear ul li:hover{background: #e2534b;}
.selectYear ul li:last-child{border: none;}
.selectMon ul li:last-child{border: none;}
.selectMon ul li:hover{background: #e2534b;}
.time1-span,.time2-span{width: 70px;height: 40px;line-height: 40px;text-align: center;position: absolute;top: 5px;cursor: pointer;border: 1px solid #e2534b;border-radius: 5px;background: #fafafa;}
.time1-span{left: 143px;}
.time2-span{right: 143px;}
.time1-div,.time2-div{width: 50px;height: 40px;line-height: 40px;text-align: center;position: absolute;top: 5px;}
.time1-div{left: 225px;}
.time2-div{right: 85px;}
/*-------------------*/
