
/*分页相关样式*/
.my_nav{
    overflow: hidden;
    width: 100%;
}
.pagination>li>a, .pagination>li>span{
    color: #222222;
    padding: 5px 12px;
    font-size: 14px;
    border: 1px solid #cccccc;
    margin-right: 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.pagination>li>a.bg{
    background: #cccccc;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
    background: #f9bf02;
    color: #000000;
    text-decoration: none;
    border-color: #f9bf02;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.jump-input{
    display: inline-block;
    max-width: 50px;
    height: 30px;
    padding: 5px;
}
.jump-btn{
    width: 50px;
    height: 30px;
    color: #ffffff;
    background: #f9bf02;
    border: none;
}
