<div class="page_wrap">
    <h1 class="no-margin color_white font_25 text-center">
        原理性的，枯燥的一些东西...
    </h1>
    <div class="info_content2">
        <p class="no-margin">1. 首先,了解一下angular应用的启动过程。就像这张图:</p>
        <div class="img-get1" change-w-h></div>
        <div class="img-content1">
            <p class="no-margin">1.1 浏览器载入HTML，然后把它解析成DOM。</p>
            <p class="no-margin">1.2 浏览器载入angular.js脚本。</p>
            <p class="no-margin">1.3 AngularJS等到<span data-toggle="modal" data-target="#myModal" ng-click="openModal('mod4')"><code>DOMContentLoaded事件</code></span>触发。</p>
            <p class="no-margin">1.4 AngularJS寻找ng-app指令进行初始化（这个初始化过程下面有个详细讲解），这个指令指示了应用的边界。</p>
            <p class="no-margin">1.5 使用ng-app中指定的模块来配置注入器($injector)。</p>
            <p class="no-margin">1.6 注入器($injector)是用来创建“编译服务($compile service)”和“根作用域($rootScope)”的。</p>
            <p class="no-margin">1.7 编译服务($compile service)是用来编译DOM并把它链接到根作用域($rootScope)的。</p>
        </div>
        <div style="clear: both"></div>
        <p class="no-margin">2. angular应用的执行过程:如图</p>
        <div class="img-get2" change-w-h></div>
        <div class="img-content1">
            <p class="no-margin">2.1 浏览器的事件循环等待事件的触发。所谓事件包括用户的交互操作、定时事件、或者网络事件(服务器的响应)。</p>
            <p class="no-margin">2.2 事件触发后，回调会被执行。此时会进入Javascript上下文。AngularJS通过使用自己的事件处理循环，<span class="color_red">拓展了浏览器事件循环</span>，改变了传统的Javascript工作流。这使得Javascript的执行被分成原始部分和拥有<span class="color_red">AngularJS执行上下文</span>的部分。只有在AngularJS执行上下文中运行的操作，才能享受到AngularJS提供的数据绑定，异常处理，资源管理等功能和服务。通常回调可以用来修改DOM结构。</p>
            <p class="no-margin">2.3 AngularJS进入<span data-toggle="modal" data-target="#myModal" ng-click="openModal('mod5')"><code>$digest</code></span>循环。这个循环是由两个小循环组成的，这两个小循环用来处理处理$evalAsync队列和$watch列表。这个$evalAsync队列是用来管理那些“视图渲染前需要在当前栈框架外执行的操作的”。$watch列表是一个表达式的集合，这些表达式可能是自上次迭代后发生了改变的。如果有检测到了有改变，那么$watch函数就会被调用，它通常会把新的值更新到DOM中。这个$digest循环直到模型“稳定”前会一直迭代。这个稳定具体指的是$evalAsync对表为空，并且$watch列表中检测不到任何改变了。</p>
            <p class="no-margin">2.4 一旦回调执行完毕，浏览器就会离开Javascript上下文，并且根据DOM的修改重新渲染视图。</p>
            <p class="no-margin">2.5 详解两点！！！</p>
            <p class="no-margin">（1）Angular项目的初始化。</p>
            <p class="no-margin">Angular项目通过ng-app启动。对初始化我们有两种控制方式：自动初始化和angular.bootstrap()。自动初始化简单粗暴，一般就是直接在根节点上加上ng-app以及对应的模块名。然后等待DOMContentLoaded事件触发后自动初始化。就像这样：</p>
            <pre style="max-width:100%;overflow-x:auto;"><code><span>&lt;html ng-app="myApp"&gt;</span></code></pre>
            <p class="no-margin">但是一些情况下我们是希望Angular项目的启动在我们的控制之中.比如做用户权限控制的情况下,我就希望能获取到当前登录用户的所有权限映射关系后,再启动Angular的App.幸运的是Angular本身提供了这种方式,也就是angular.bootstrap()。</p>
            <p class="no-margin">如下代码，就是我们在友户通后台管理系统中对Angular项目的启动的控制，在获取了用户权限菜单后，再启动angular应用。</p>
            <pre style="max-width:100%;overflow-x:auto;"><code>angular.element(<span>document</span>).ready(<span><span>function</span>(<span></span>) </span>{
            <span>//获取权限菜单后，再动态启动angular的App</span>
            $.ajax({
                type : <span>"GET"</span>,
                url : URLInit.findUserRights+<span>"?DT="</span>+<span>new</span> <span>Date</span>().getTime(),
                success : <span><span>function</span>(<span>data</span>) </span>{
                    <span>//部分逻辑代码...</span>
                    <span>if</span>(data.flag==<span>'000000'</span>){
                        userRightsRes = data;
                        <span>var</span> userRightsResCbList=[];
                        <span>if</span>(userRightsRes.data.dataRoleCustomobjectList.length&gt;<span>0</span>){}
                        <span>//将数据权限保存在全局变量中以供调用</span>
                        globalProductline=userRightsResCbList.join(<span class="hljs-string">","</span>);
                        <span>//根据获取的菜单权限配置路由</span>
                        <span>if</span>(userRightsRes.data.menuList.length==<span class="hljs-number">0</span>){}
                        <span>else</span>{}
                        <span class="color_red">angular.bootstrap(document, ['app']);</span>
                    }<span>else</span>{
                    <span>//接口返回错误跳转登录</span>
                    <span>window</span>.location.href= loginArr[<span>0</span>];
                    }
                }});
            });</code></pre>
            <p class="no-margin">（2）如何进入Angular上下文?</p>
            <p class="no-margin">AngularJS并不直接调用$digest()，而是调用<span class="color_red">$scope.$apply()</span>，后者会调用 $rootScope.$digest()。</p>
            <p class="no-margin">当事件触发时，你调用$apply，它会进入angular上下文，如果没有调用就不会进入。现在你可能会问：我也没有调用过$apply啊，为什么？因为Angular为你做了！比如你点击带有ng-click的元素时，事件就会被封装到一个$apply调用。</p>
            <p class="no-margin">Angular什么时候不会自动为我们$apply呢？</p>
            <p class="no-margin">比如，如果你使用了JavaScript中的setTimeout()来更新一个scope model，那么 AngularJS就没有办法知道你更改了什么。这种情况下，调用$apply()就是你的责任了。让我们来看一个例子:假如你有一个页面，一旦该页面加载完毕了，你希望在3秒钟之后显示一条信息。你的实现可能是下面这个样子的：</p>
            <p class="no-margin">HTML:</p>
            <pre style="max-width:100%;overflow-x:auto;"><code><span>&lt;body ng-app="myApp"&gt;</span>
            <span>&lt;div ng-controller="MessageController"&gt;</span>
            延迟<span>3</span>秒展示的信息:{{<span>message</span>}}
            <span>&lt;/div&gt;</span>
    <span>&lt;/body&gt;</span></code></pre>
            <p class="no-margin">JavaScript:</p>
            <pre style="max-width:100%;overflow-x:auto;"><code><span>angular</span>.module('myApp',[])
            <span>.controller</span>('MessageController', function($scope) {
                $<span>scope</span>.getMessage = function() {
                <span>setTimeout</span>(function() {
                    $<span>scope</span>.message = '3秒到了，哈哈哈！';
                    <span>alert</span>('message:'+$scope.message);
                }, <span>3000</span>);
            };
                $<span>scope</span>.getMessage();
            });</code></pre>
            <p class="no-margin">你会看到过了3秒钟之后，alert确实会提示出已经更新的model，然而，view并没有更新。原因也许你已经知道了，就是我们忘了调用 $apply()方法。<a style="outline: dashed" href="no_apply_test.html" target="_blank">点这里看例子!</a></p>
            <p class="no-margin">那怎么才能达到效果呢？解决办法1：</p>
            <p class="no-margin">你可以使用$timeout来代替setTimeout()因为前者会帮你调用$apply()</p>
            <p class="no-margin">解决办法2 就像下面这样：<a style="outline: dashed" href="apply_test.html" target="_blank">点这里看例子!</a></p>
            <pre style="max-width:100%;overflow-x:auto;"><code><span>angular</span>.module('myApp',[]).
            <span>controller</span>('MessageController', function($scope) {
                $<span>scope</span>.getMessage = function() {
                <span>setTimeout</span>(function() {
                    <span class="color_red">$scope.$apply(function() {</span>
                        $<span>scope</span>.message = '3秒到了，哈哈哈！';
                    });
                }, <span>3000</span>);
                };
                $<span>scope</span>.getMessage();
            });</code></pre>
        </div>
        <div style="clear: both"></div>
        <p class="no-margin">直白一点的总结就是：</p>
        <p class="no-margin">Angular在管理的地盘上（指的是UI）派出了侦查员$watch()监视着整个地盘上的一举一动，地盘上的所有东西它都登记在册（怎么说呢?比如你又绑定了一些东西到UI上了，$watch()就会把你新绑定的东西加进它的小本子里）。地盘上出现风吹草动了（比如某个ng-click触发了），而且是Angular统治下的臣民(ng-click就是)做的（非外来人口：比如jquery等派来的就是外来人口）。$watch()就会把事情报告给$apply，所有Angular统治下的臣民的事情$watch()都会主动报告给$apply。不是Angular统治下的臣民，$watch()都是冷眼旁观，有点什么事情，看是看到了，但不会告诉$apply。(所以，我们可以越俎代庖，自己告诉$apply，就像上面的解决方法2一样。)</p>
        <p class="no-margin">$apply收到报告了，开始按流程办事了（进入Angular上下文）。这个流程按老规矩，派出一个询问官叫$digest循环，$digest需要干两件事，处理$evalAsync队列以及找$watch问话。$digest就一边把$watch本子上记着的所有臣民的情况都问了个遍,这就是dirty-checking(我猜想你的第一印象是dirty-checking很慢，好吧，其实是不对的。它像闪电般快。但是，是的，如果你在一个模版里有2000-3000个watch，它会开始变慢。但是我觉得如果你达到这个数量级，就可以找个用户体验专家咨询一下了。)，一边把$evalAsync需要做的事情做好了。</p>
        <p class="no-margin">$digest活干完了，交了差，Angular就把地盘(UI)重新按照改变粉刷了一遍。</p>
    </div>
</div>