<div class="page_wrap">
    <div class="info_content1">
        <h1 class="no-margin color_white font_50 text-center">
            简介
            <a href="http://www.iteye.com/magazines/121" target="_blank" class="font_25 font_w600">Introduction</a>
        </h1>
        <div class="info_content_box">
            <p>AngularJS 是一个为动态WEB应用设计的结构<span data-toggle="modal" data-target="#myModal" ng-click="openModal('mod0')"><code>框架</code></span>。
                它的创新点在于，利用<span data-toggle="modal" data-target="#myModal" ng-click="openModal('mod6')"><code>数据绑定</code></span>和<span data-toggle="modal" data-target="#myModal" ng-click="openModal('mod7')"><code>依赖注入</code></span>,它使你不用再写大量的代码了。这些全都是通过浏览器端的Javascript实现，这也使得它能够完美地和任何服务器端技术结合。</p>
            <p>AngularJS主要考虑的是构建<span data-toggle="modal" data-target="#myModal" ng-click="openModal('mod1')"><code>CRUD应用</code></span>。幸运的是，至少90%的WEB应用都是CRUD应用。如游戏，图形界面编辑器，这种DOM操作很频繁也很复杂的应用，和CRUD应用就有很大的不同，它们不适合用AngularJS来构建。</p>
            <p>AngularJS的一些出众之处：构建一个CRUD应用可能用到的全部内容包括：数据绑定、基本模板标识符、表单验证、路由、深度链接、组件重用、依赖注入。</p>
        </div>
    </div>
</div>