<!--系统管理--版本更新--发布新版本-->
<div class="w m_0 search p_20">
    <div class="w bg-white" style="height: 300px;">
        <div class="w bg-white p_20">
            <div class="mb_20">
                <span class="left_title mr_30">版本号：</span>
                <input class="v_m short" type="text"/>
            </div>
            <div class="mb_20 v_t">
                <span class="left_title mr_30">版本介绍：</span>
            <textarea class="v_t p_10" name="versionIntro" id="versionIntro"></textarea>
            </div>
            <div class="mb_20">
                <span class="left_title mr_30">ios下载链接：</span>
                <input class="v_m long" type="text"/>
            </div>
            <div class="mb_20">
                <span class="left_title mr_30">安卓下载链接：</span>
                <input class="v_m long" type="text"/>
            </div>
            <div class="mb_20">
                <span class="left_title mr_30"></span>
                <button class="btn btn-style">修改</button>
                <button ng-click="goBackState('systemManager.versionList')" class="btn-gray btn-set ml_10" >返回</button>
            </div>
        </div>
    </div>
</div>
