<!--系统管理--版本更新--版本列表-->
<div class="w m_0 search p_20">
    <div class="row m_0 p_s23 bg-white">
        <div class="mr_30 p_0 fl">
            <label for="userName">
                发布人
            </label>
            <input id="userName"
                   name="userName"
                   ng-model="search.name"
                   type="text"/>
        </div>
        <div class="mr_30 p_0 fl">
            <label for="loginName">
                关键字
            </label>
            <input id="loginName"
                   name="loginName"
                   ng-model="search.loginName"
                   type="text"/>
        </div>
        <div class="mr_30 p_0 fl">
            <label for="registerTime_s">
                发布时间
            </label>
            <input ng-click="openStartLayDate()"
                   style="text-align: center;"
                   class="laydate-icon mr_5"
                   id="registerTime_s"
                   name="registerTime_s"
                   ng-model="search.startTime"
                   type="text"/>
            <label for="registerTime_e">
                —
            </label>
            <input ng-click="openEndLayDate()"
                   style="text-align: center;margin-left: 5px;"
                   class="laydate-icon"
                   id="registerTime_e"
                   name="registerTime_e"
                   ng-model="search.endTime"
                   type="text"/>
        </div>
        <div class="p_0 fl v_t">
            <button class="btn btn-style fr">搜索</button>
        </div>
    </div>
</div>
<div class="w table-responsive pl_20 pr_20 mb_50">
    <table class="table table-condensed table-style min_750">
        <thead>
        <tr>
            <th>版本号</th>
            <th>版本内容</th>
            <th>发布人</th>
            <th>发布时间</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="ver in Lists">
            <td ng-bind="ver.version"></td>
            <td ng-bind="ver.versionContent"></td>
            <td ng-bind="ver.issuedMan"></td>
            <td ng-bind="ver.pTime |dateFormat:''"></td>
            <td class="detail_td">
                <a ng-click="getDetail(ver)">查看</a>
            </td>
        </tr>
        </tbody>
    </table>
    <div ng-include="'nav/nav.html'"></div>
</div>