<!--系统管理--版本更新--版本列表--版本详情-->
<div class="w m_0 search p_20">
    <div class="w bg-white p_20">
        <div class="mb_20">
            <span class="left_title mr_30">版本号：</span>
            <span class="d_lb">1.1版本</span>
        </div>
        <div class="mb_20 v_t">
            <span class="left_title mr_30">版本介绍：</span>
            <textarea class="v_t p_10" name="versionIntro" id="versionIntro" readonly>
            阳光下，锦鲤在清澈的水波中尽情嬉戏，捕捉自己在水中的影子，动静结合得如此之妙，它是利用印刷和压合的技术,将激光全息箔转移到承印物上，打破了传统烫金依靠热压转移金箔的传统工艺,而使用一种新的技术——冷压技术来转移金箔，哑光与亮光的对比使用，微妙的颜色组合来表达这种宁静与灵动。
            </textarea>
        </div>
        <div class="mb_20">
            <span class="left_title mr_30">ios下载链接：</span>
            <input class="v_m long" type="text" value="https://www.baidu.com/" readonly/>
        </div>
        <div class="mb_20">
            <span class="left_title mr_30">安卓下载链接：</span>
            <input class="v_m long" type="text" value="https://www.baidu.com/" readonly/>
        </div>
        <div class="mb_20">
            <span class="left_title mr_30"></span>
            <button class="btn btn-style">修改</button>
            <button class="btn-gray btn-set ml_10" >返回</button>
        </div>
    </div>
</div>
